body {
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: #13A5BB;
	color: white;
}

h1,
body {
  	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  	font-weight: 200;
}
input {
	color: white;
	font-family: helvetica;
	border: transparent;
	background: transparent;
	font-size: 13px;
}

input:focus,
button:focus {
    outline: 0;
}

button {
  	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	color: white;
	border: 1px solid #12a6bd;
	background: transparent;
	font-size: 15px;
}
form {
	height: 200px;
	width: 400px;

	position: fixed;
	top: 50%;
	left: 40%;
}
h1 {
	height: 200px;
	width: 400px;

	position: fixed;
	top: 40%;
	left: 40%;
	font-size: 30px;
}
#result{
	position: fixed;
	top: 55%;
	left: 70%;
	font-size: 24px;
}
::-webkit-input-placeholder {
	color: white;
}

:-moz-placeholder { /* firefox 18- */
	color: white;
}

::-moz-placeholder { /* firefox 19+ */
	color: white;
}

:-ms-input-placeholder {
	color:white;
}