body {
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: #13A5BB;
	color: white;
}

h1,
body {
  	font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  	font-weight: 300px;
}
input {
	background-color: #13A5BB;
	color: white;
	font-family: helvetica;
	border: transparent;
	background: transparent;
}
button {
	background-color: #000;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	color: white;
	border: 10px solid transparent;
}
form {
	height: 200px;
	width: 400px;

	position: fixed;
	top: 55%;
	left: 40%;
}
h1 {
	position: fixed;
	top: 35%;
	left: 50%;
	font-size: 36px;
}
#result{
	position: fixed;
	top: 55%;
	left: 70%;
}
::-webkit-input-placeholder {
	color: white;
}

:-moz-placeholder { /* firefox 18- */
	color: white;
}

::-moz-placeholder { /* firefox 19+ */
	color: white;
}

:-ms-input-placeholder {
	color:white;
}